<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/product.css' %}">
</head>
<body>
    <table id="table">
      
            <tr>
            <th>TITLE</th>
            <th>DESCRIPTION</th>
            <th>PRICE</th>
            <th>DETAILS</th>
            <th>Edit</th>
            </tr>
        

        {% for product in products%}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td><a href="{%url 'product_details_view' id=product.id %}"><button> DETAILS</button></a></td>
            <td><a href="{%url 'product_edit_view' id=product.id %}"><button> EDIT</button></a></td>
            
        
        </tr>
        {%endfor%}
    </table>
</body>
</html>