<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    table, th, tr, td {
    border:solid  1px;
    padding: 50px;
    font-size: 30px;


  }
  button{
    padding: 20px;
    border-radius: 15px;
  }
  button:hover{
    cursor: pointer;
    background-color: yellow;
    color: black;
    transition: .6s;
    transform: scale(1.1);
  }
  img{
    width: 90%;
    border-radius: 10px;
  }
  img:hover{
    cursor: pointer;
    transition: .6s;
    transform: scale(1.1)
  }
    </style>
    <!-- {% load static %} -->
    <!-- <link rel="stylesheet" href="{% static 'CSS/product.css' %}"> -->
</head>
<body>
    <table id="table">
      
            <tr>
            <th>PRODUCT IMAGE</th>
            <th>TITLE</th>
            <th>DESCRIPTION</th>
            <th>PRICE</th>
            <th>STOCK</th>
            <th>DETAILS</th>
            <th>Edit</th>
            
            </tr>
        

        {% for product in products%}
        <tr>
            <td><img src="{{product.image.url}}"/></td>
            <td>{{product.name}}</td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td>{{product.stock}}</td>
            <td><a href="{%url 'product_details_view' id=product.id %}"><button> DETAILS</button></a></td>
            <td><a href="{%url 'product_edit_view' id=product.id %}"><button> EDIT</button></a></td>
            
        
        </tr>
        {%endfor%}
    </table>
</body>
</html>


<!-- 200 — OK
201 — Created
202 — Accepted
400 — Bad request
401 — Unauthorized
403 — Forbidden
404 — Not found: this is a famous one
405 — Method not allowed
500 — Internal Server Error
502 — Bad Gateway
503 — Service Unavailable 
onbond vendors
create customers
upload products
list and search products
add to cart
checkoy/place order
accept payment
process orders
process payments
send notifications
-->


