/* table, th, tr, td {
    border:solid  1px;
    padding: 10px;
    font-size: 10px;


  }
  button{
    padding: 20px;
    border-radius: 15px;
  }
  button:hover{
    cursor: pointer;
    background-color: yellow;
    color: black;
    transition: .6s;
    transform: scale(1.1);
  }
  table img{
    width: 2%;
  }
  body{
    display: flex;
  } */